<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Speedyhelp - Free Charity Funding</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="lib/flaticon/font/flaticon.css" rel="stylesheet">
        <link href="lib/animate/animate.min.css" rel="stylesheet">
        <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    </head>

    <body>
        
            <div class="register-page-category ">
                

            <!-- Top Bar Start -->
            <div class="top-bar d-none d-md-block">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="top-bar-left">
                                <div class="text">
                                    <i class="fa fa-phone-alt"></i>
                                    <p>+123 456 7890</p>
                                </div>
                                <div class="text">
                                    <i class="fa fa-envelope"></i>
                                    <p>info@example.com</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="top-bar-right">
                                <div class="social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Top Bar End -->

            <!-- Nav Bar Start -->
            <div class="navbar navbar-expand-lg bg-dark navbar-dark">
                <div class="container-fluid">
                    <a href="{{ url_for('index') }}" class="navbar-brand">SpeedyHelp</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav ml-auto">
                            <a href="{{ url_for('index') }}" class="nav-item nav-link active">Home</a>
                            
                            <a class="nav-item nav-link" href="{{ url_for('view_request') }}">Pending Request</a>
                            <a class="nav-item nav-link" href="{{ url_for('logout') }}">Log out</a>
                        </div>
                            
                    </div>
                </div>
            </div>
            <!-- Nav Bar End -->
            
            
            
            
            <!-- Sign up Form -->
            
            <div class="sign-up " style="z-index: 1;  margin-bottom:200px;">
                
            
                <h1>Let us help you begin your fundraising journey</h1>
                
                <div class="register mt-5">
                    
    
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                    
                    <h2 class="" style="width: 450px; color:greenyellow;">What best describes why you're fundraising </h2>
                        <form action="" method='POST'>
                            <label for="option">Please select a category</label><br>
                            <select name="options" id="options" style="width: 300px; height:35px; border-radius:10px; padding-left: 10px;" required>
                                <option value="animals">Please select an option -</option>
                                <option value="animals">Animals</option>
                                <option value="business">Business</option>
                                <option value="community">Community</option>
                                <option value="creative">Creative</option>
                                <option value="education">Education</option>
                                <option value="emergencies">Emergencies</option>
                                <option value="event">Events</option>
                                <option value="faith">Faith</option>
                                <option value="family">Family</option>
                                <option value="funeral">Funeral</option>
                                <option value="medical">Medical</option>
                                <option value="monthly bills">Monthly Bills</option>
                                <option value="sports">Sports</option>
                                <option value="travel">Travel</option>
                                <option value="charity">Charity</option>
                                <option value="others">Others</option>
                            </select>
                            <br>
                            <br>
                            
                            
                            <label for="option">Who are you fundraising for?</label><br>
                            <select name="options" id="options" style="width: 300px; height:35px; border-radius:10px; padding-left: 10px;" required>
                                <option value="animals">Please select an option -</option>
                                <option value="yourself">Yourself</option>
                                <option value="others">Others</option>
                            </select>
                            <br>
                            <br>
                            <label for="expiryDate">Fundraising Expiry Date:</label>
                            <input type="date" name="expiryDate" id="expiryDate" style="width: 300px; height:35px; border-radius:10px; padding-left: 10px;" required>

                            <br>
                            
                            <br><label for="amount">Amount</label>
                            <input type="number" name="amount" id="amount" placeholder="Please enter amount" style="width: 300px; height:35px; border-radius:10px; padding-left: 10px;" required>
                            <br>
                            <br>
                            
                            <label for="minAmount">Minimum Donation Amount:</label>
                            <input type="number" name="minAmount" id="minAmount" placeholder=" Enter minimum donation amount" style="width: 300px; height:35px; border-radius:10px; padding-left: 10px;" required>
                            <br>
                            <br>
                            <label for="description">Description</label>
                            <textarea name="description" id="description" cols="50" rows="3" style="border-radius:10px; padding-left:10px; border:none;" required></textarea>
                            <br>
                            
                            <button type="submit">Submit</button>
                        </form>
                </div>
            </div>

            <!-- JavaScript Libraries -->
            <!-- jQuery library -->
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

                <!-- jQuery UI library -->
                <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
                <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
            <script src="lib/easing/easing.min.js"></script>
            <script src="lib/owlcarousel/owl.carousel.min.js"></script>
            <script src="lib/waypoints/waypoints.min.js"></script>
            <script src="lib/counterup/counterup.min.js"></script>
            <script src="lib/parallax/parallax.min.js"></script>
            
            <!-- Contact Javascript File -->
            <script src="mail/jqBootstrapValidation.min.js"></script>
            <script src="mail/contact.js"></script>

            <!-- Template Javascript -->
            <script src="js/main.js"></script>
        </div>        
    </body>
</html>
