
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Speedyhelp - Free Charity Funding</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="lib/flaticon/font/flaticon.css" rel="stylesheet">
        <link href="lib/animate/animate.min.css" rel="stylesheet">
        <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

        
    </head>

    <body>
        
        
            <div class="register-page ">
                


            <!-- Nav Bar Start -->
            <div class="navbar navbar-expand-lg bg-dark navbar-dark">
                <div class="container-fluid">
                    <a href="{{ url_for('index') }}" class="navbar-brand">SpeedyHelp</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav ml-auto">
                            <a href="{{ url_for('index') }}" class="nav-item nav-link active">Home</a>
                            
                            
                            
                                    <a href="{{ url_for('category') }}" class="nav-item nav-link" >Request Help</a>
                                    
                                </div>
                            </div>
                            <a href="{{ url_for('logout') }}" class="nav-item nav-link" >Logout</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Nav Bar End -->
            
        <div class="container justify-content-center align-items-center" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" >
            <div class="row">
                {% for request_ in user_requests %}
                <div class="col-md-6 mb-3 "> <!-- Added "mb-3" for margin-bottom -->
                    <div class="border ">
                        <div class="request-card ml-3 mr-3 mb-3 text-white">
                            <h3>{{ request_.title }}</h3>
                            <p>Description: {{ request_[3] }}</p>
                            <p>Category: {{ request_[0] }}</p>
                            <p>Amount Required: ${{ request_[2] }}</p>
                            <p>Purpose: {{ request_[1] }}</p>
                            
                            <p>Donation Progress:</p>
                            <div class="progress">
                                {% for request_ in requests %}
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" 
                                         style="width: %; height: 20px;" 
                                         aria-valuenow="{{ request_.percentage }}" 
                                         aria-valuemin="0" aria-valuemax="100">{{ request_.percentage }}%</div>
                                </div>
                                
                                {% endfor %}
                            
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>   


            <!-- JavaScript Libraries -->
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
            <script src="lib/easing/easing.min.js"></script>
            <script src="lib/owlcarousel/owl.carousel.min.js"></script>
            <script src="lib/waypoints/waypoints.min.js"></script>
            <script src="lib/counterup/counterup.min.js"></script>
            <script src="lib/parallax/parallax.min.js"></script>
            
            <!-- Contact Javascript File -->
            <script src="mail/jqBootstrapValidation.min.js"></script>
            <script src="mail/contact.js"></script>

            <!-- Template Javascript -->
            <script src="js/main.js"></script>
        </div>
    </body>
</html>
